D51MXC_1013/D51MXC_mozi.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mozi (film) >

<!ELEMENT film (rendezo+,szinesz+,iro+)* >
<!ATTLIST film id ID #REQUIRED >
<!ATTLIST film mufaj (horror|akcio|thriller) "horror" >


<!ELEMENT rendezo EMPTY >
<!ATTLIST rendezo id ID #REQUIRED >
<!ATTLIST rendezo nev CDATA #REQUIRED >

<!ELEMENT szinesz EMPTY >
<!ATTLIST szinesz id ID #REQUIRED >
<!ATTLIST szinesz nev CDATA #REQUIRED >

<!ELEMENT iro EMPTY >
<!ATTLIST iro id ID #REQUIRED >