D51MXC_1013/RG_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT orarend (ora)*>

<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)*>
<!ATTLIST ora id ID #REQUIRED >
<!ATTLIST ora tipus CDATA #REQUIRED>

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap, tol, ig)>

<!ELEMENT nap (#PCDATA)>

<!ELEMENT tol (#PCDATA)>

<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>

<!ELEMENT oktato (#PCDATA)>

<!ELEMENT szak (#PCDATA)>

